/*HEADER*/
header{
    position: fixed;
    width: 100%;
}
.aviso_top{
    background-color: #4523CC;
    color: #fff;
    text-align: center;
}
.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height:50px;
    width: 100%;
    background: #4523CC;
}
.logo{
    position: static;
}
.logo>img{
    margin-left: 10px;
    height: 50px;
    width: 70px;
}
.busqueda_de_productos{
    position: absolute;
    left: 150px;
    display: flex;
    align-items: center;
}
.busqueda_de_productos>.barra{
    width: 200px;
    border-radius: 10px;
}
.barra:focus{
    outline: none;
    background-color: rgb(163, 163, 163);
    
}

.busqueda_de_productos>.boton_buscar{
    border: none;
    position: absolute;
    left: 200px;
    width: 30px;
    height: 30px;
    align-items: center;
    background-color: transparent;
}
.boton_buscar:hover{
    width: 40px;
    height: 40px;
}

.boton_buscar:focus{
    outline: none;
}

.ico_b{
    object-fit: cover;    
}

.enlaces>a{
    margin: 0px 10px;
    text-decoration: none;
    color: #fff;
    border-bottom: 2px solid transparent;
}
.enlaces>a:hover{
    border-bottom-color: #FF1429;
    letter-spacing: 2px;
    cursor: alias;
}


/**BODY**/
body{
    background-color: rgb(233, 230, 230);
}


/* CONTENEDOR PRINCIPAL DEL SCROll*/
.conten_principal{
    background-color: #000;
    position: static;
    display: flex;
    overflow:hidden; /*OVER FLOW BANNER*/
    z-index: -1;
    top: 50px;
    width: 100%;
    color: #fff;
}


/*contenido de cada lugar del scroll*/
.contenido{
    min-width: 100%;
    display:flex;
    align-items:center;
    justify-content: space-between;
    width: 100%;
    height: 500px;
}
.contenido>img{
    height: 100%;
    object-fit: cover;
}
.informacion{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    padding-left: 5px;
}
.informacion>h1{
    font-family: 'Acme', sans-serif;
}

.boton_comprar{
    position: static;
    margin: 50px 0px 50px 5px;
    border-radius: 30px;
    width: 150px;
    height: 40px;
    background-color:#FF1429;
    font-family: 'Acme', sans-serif;
}
.boton_comprar:hover{
    height: 50px;
    border-color: #FF1429 ;
    background-color: #fff;
    color:#FF1429 ;
    cursor: alias;
    -webkit-box-shadow: 0px 0px 43px 10px rgba(255,20,41,1);
    -moz-box-shadow: 0px 0px 43px 10px rgba(255,20,41,1);
    box-shadow: 0px 0px 43px 10px rgba(255,20,41,1);

}
/*FIN-CONTENIDO*/

/* CONTENEDOR GRID*/
.contenedor_grid{
    position: static;
    color: #000;
}

.titulo_grid{
    text-align: left;
    font-family: 'Acme', sans-serif;
}

/*Grid Productos*/
.Grid_productos{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-template-rows:repeat(2,minmax(200px,300px));
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
    grid-auto-flow: dense;
    grid-gap: 5px ;
}
.link_producto{
    display: block;
}

.producto{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    max-height: 350px;
    min-width: 200px;
    justify-content: space-between;
    padding: 3px;
    background-color: #fff;
}

.producto:hover{
    background-color:rgb(163, 163, 163);
}

.informacion_producto{
    padding-left: 5px;
}

.informacion_producto>h1{
    font-family: 'Acme', sans-serif;
    font-size: 20px;
}
.informacion_producto>article{
    display: none;/*cambiar con java cuando se  pase el mouse encima a display block*/
}


.imagenes_producto{
    position: static;
    overflow: hidden; /* <- SCROOL DE LAS IMAGENES DEL PRODUCTO*/
}
.imagenes_producto>img{
    object-fit: cover;
    width: 100%;
}
/* AQUI HAY QUE HACER ALGO */
.bt_caja{
    display: none;/*flex*/
    position: static;
    justify-content: center;
    align-items: center;
    top: 100%;
    width: 100%;
    height: 50px;
}
.bt_caja>button{
    border: none;
    color: #fff;
    position: static;
    margin:0px 0px 0px 0px;
}

/*GRID PRODUCTOS LINEAL*/
.contenedor_categoria{
    width: 100%;
    margin-top: 10px;
}
.contenedor_categoria>.productos_lineal{
    display: flex;
    width: 1160px;
    max-height: 220px;
    flex-shrink: 0;
    overflow: hidden;

}
.productos_lineal{
    margin:auto;   
}
.productos_lineal>.producto{
    margin: 5px;
}


/*PIE DE PAGUINA*/
footer{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin-top: 30px;
    background-color: #fff;
    padding: 0px 20px;
}

.pie_contenido_principal{
    display: flex;
    width: 100%;
}
.pie_contenido_principal>.contenido1{
    max-width: 40%;
    height: 80%;
}

.contenedor_contacto{
    display: flex;
    margin-top: 10px;
    align-items: center;
}

.icono_contacto{
    height: 20px;
}


.pie_contenido_principal>.contenido2{
    display: flex;
    max-width: 30%;
    min-width: 30%;
    justify-content: space-evenly;
    align-items: center;
    
}

.lista_pie>ul{
    list-style: none;
    margin: 8px;
    
}
.lista_pie>ul>h4{
    margin-bottom: 8px;
}

.pie_contenido_principal>.contenido3{
    display: flex;
    flex-direction: column;
    min-width: 30%;
    justify-content: center;
}
.contenido3{
    height: 100%;
    align-content: center;

}
.contenido3>h4{
    margin-top: 10%;
    display: flex;
    min-height: 20%;
    justify-content: center;
}
.contenido3>.iconos_sociales{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

.icono_social{
    height: 50px;
    background-color: transparent;
    border: none;
}
.icono_social:hover{
    height: 60px;
}

.copyright{
    display: flex;
    background-color: #4523CC;
    color: #fff;
    justify-content: center;
}
